<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../css/style.css">

    <title>Paws and Claws</title>
</head>
<body>

    <div class= "grid-contianer">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">Paws and Claws</a>
            </div>

            <div class="header-links">
                <a href="vart.html">Cart</a>
                <a href="Signin.html">Sign In</a>
            </div>
       
        </header>
        <aside class="sidebar">
            <h3>Pet Categories</h3>
            <button class= "sidebar-close-button" onclick="closeMenu()">
                X
            </button>
            <ul>
                <li>Cats</li>
                <li>Dogs</li>
            </ul>
        </aside>
    <main class="main">
        <div class="content">

            <ul class="products">
                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>
                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

                <li>
                    <div class="product">

                        <img  class= "product-image" src="images/labra.jpg" alt="Product">    
                        <div class="product-name">
                            <a href="product.html">
                                Leslie
                            </a>
                            </div>
                        <div class="product-brand">Labrador</div>
                        <div class="product-price">Adopt</div>
                        <div class="description"> Description here</div>
                    </div>
                </li>

            </ul>
        </div>

      
    </main>

    <footer class="footer">
        All Rights Reserved
    </footer>
</div>

<script>
    function openMenu(){
        document.querySelector(".sidebar").classList.add("open");
    }

    function closeMenu(){
        document.querySelector(".sidebar").classList.remove("open");
    }
</script>
</body>
</html>